<!DOCTYPE html>
<html class="html-{{ page.section }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="" />

    {% css_asset_tag global %}
    - /_css/swiper.css
    - /_css/bootstrap.min.css
    - /_css/animate.css
    - /_css/plyr.css
    - /_css/owl.carousel.min.css
    {% endcss_asset_tag %}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">
  </head>


  <body class="{{ page.section }}">

    {% include nav.html %}

    <div class="wrapper">
        {{ content }}
    </div>

    {% include footer.html %} 

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
    {% javascript_asset_tag global %}
    - /_js/bootstrap.min.js
    - /_js/swiper.min.js
    - /_js/smoothScroll.js
    - /_js/owl.carousel.min.js
    - /_js/plyr.js
    - /_js/main.js
    {% endjavascript_asset_tag %}
    
  </body>

</html>
