---
layout: default
section: news
slug: news
title: PV MATE - NEWS - Description
---

<!-- brief news section -->
<div class="inner_main_wrap">
    <h2>NEWS</h2>
    <div class="breadcrumb"><a href="{{ site.baseurl }}/">Home</a> / <a href="{{ site.baseurl }}/news">News</a> / {{ page.title }}</div>

    <div class="row news_wrap">   
        <div class="col-md-2">
            <div class="news_left">
              <div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
              <div class="share">Share 
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="news_right">
              <h3>{{ page.title }}</h3>

              {{ content }}

            </div>
        </div>
    </div>

</div>
<!-- end of brief news section -->
