<footer>
    <div class="container_full"> 
        <div class="row">
            <div class="col-md-6 text-left">PV MATE © <script>document.write(new Date().getFullYear())</script> All Rights Reserved. Privacy PolicyWeb.
            </div>
            <div class="col-md-6 text-right">Web Design & Development Sri Lanka By <a href="http://www.saberion.com" target="_blank" title="www.saberion.com">Saberion</a></div>
        </div>
    </div>

</footer>

<div class="popup video-popup">
	<div class="popup-container">
		<a href="" class="popup-close">&#10005; close</a>

		<div class="video-popup-container">
			<div data-plyr-provider="youtube" class="video-popup-player" data-plyr-embed-id=""></div>
		</div>		
	</div>
</div>
