

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container_full">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ "/images/pv_mate_logo.png" | prepend: site.baseurl }}" class="img-responsive" alt="PV MATE">
      </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="{% if page.url == '/about/index.html' %}active{% endif %}" href="{{ site.baseurl }}/about">About</a>
            <!-- <ul class="dropdown-menu" aria-labelledby="dLabel">
              <span class="point"></span>
              <li><a href="">Corporate Profile</a></li>
              <li><a href="">Shareholders / Partners</a></li>
            </ul> -->
        </li>
        <li style="display: none;"><a href="{{ "/how_to_use/index.html" | prepend: site.baseurl }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">How to use</a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <span class="point"></span>
              <li><a href="">Retailer</a></li>
              <li><a href="">Installer</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/retailer">Retailer</a>
        </li>
<!--         <li><a href="{{ "/retailer/index.html" | prepend: site.baseurl }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Retailer</a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <span class="point"></span>
              <li><a href="">Submit Profile</a></li>
              <li><a href="">Manage Job(s)</a></li>
              <li><a href="">Submit Job(s)</a></li>
            </ul>
        </li>  -->       
        <li><a href="{{ site.baseurl }}/installer">Installer</a>
        </li>
        <li><a href="{{ site.baseurl }}/supplier">Suppliers</a></li>
        <li><a class="{% if page.url == '/news/index.html' %}active{% endif %}" href="{{ site.baseurl }}/news">News</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        <li style="display: none;"><a href="{{ "/service_jobs/index.html" | prepend: site.baseurl }}">Service Jobs</a></li>
        <li><a class="{% if page.url == '/faqs/index.html' %}active{% endif %}" href="{{ "/faqs/index.html" | prepend: site.baseurl }}">FAQS</a></li>
        <li class="login_link"><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
      </ul>  

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Login modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close_white" data-dismiss="modal" aria-label="Close"></a>
      <div class="modal-body">
        
        <div class="create_sec">
          <h3>Welcome to PV MATE</h3>
          <img src="{{ "/images/devider_white.png" | prepend: site.baseurl }}" class="img-responsive" alt="PV MATE">
          <h2>Don't have an account?</h2>
          <a href="" class="create_acc">Create an Account</a>
        </div>

        <div class="sign_in_sec">
          <div class="logo"><img src="{{ "/images/pv_mate_logo.png" | prepend: site.baseurl }}" class="img-responsive" alt="PV MATE"></div>
          <h2>Sign in</h2>
          <p>Sign in to your account here</p>

          <div class="sign_tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#retailer" aria-controls="retailer" role="tab" data-toggle="tab">retailer</a></li>
              <li role="presentation"><a href="#installer" aria-controls="installer" role="tab" data-toggle="tab">installer</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="retailer">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                  <input type="text" class="sign_fields" id="retailerEmail" placeholder="Retailer Email">
                </div>
                <div class="input-group">
                  <div class="input-group-addon passsec"><i class="fa fa-lock" aria-hidden="true"></i></div>
                  <input type="password" class="sign_fields" id="retailerPassword" placeholder="Retailer Password">
                  <button id="toggleBtn" class="glyphicon glyphicon-eye-open toggler-ico" type="button">&nbsp;</button>
                </div>
                <ul>
                  <li><div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Remember me
                      </label>
                    </div>
                  </li>
                  <li><a href="">Forgotten password?</a></li>
                </ul>
                <a href="" class="login">Login</a>

              </div>
              <div role="tabpanel" class="tab-pane" id="installer">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                  <input type="text" class="sign_fields" id="installerEmail" placeholder="Installer Email">
                </div>
                <div class="input-group">
                  <div class="input-group-addon passsec"><i class="fa fa-lock" aria-hidden="true"></i></div>
                  <input type="password" class="sign_fields" id="installerPassword" placeholder="Installer Password">
                  <button id="toggleBtn" class="glyphicon glyphicon-eye-open toggler-ico" type="button">&nbsp;</button>
                </div>
                <ul>
                  <li><div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Remember me
                      </label>
                    </div>
                  </li>
                  <li><a href="">Forgotten password?</a></li>
                </ul>
                <a href="" class="login">Login</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- end of login modal -->

<!-- Login modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close_white" data-dismiss="modal" aria-label="Close"></a>
      <div class="modal-body">
        
        <div class="sign_in_sec">
          <div class="logo"><img src="{{ "/images/pv_mate_logo.png" | prepend: site.baseurl }}" class="img-responsive" alt="PV MATE"></div>
          <h2>Sign in</h2>
          <p>Sign in to your account here</p>

          <div class="sign_tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="retailer-tab tab-role"><a href="#retailerRegistration" class="registration-role" aria-controls="retailer" role="tab" data-toggle="tab">retailer</a></li>
              <li role="presentation" class="installer-tab tab-role"><a href="#installerRegistration" class="registration-role" aria-controls="installer" role="tab" data-toggle="tab">installer</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane retailer-tab tab-role" id="retailerRegistration">
                
                <form action="">
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="company-name" placeholder="Company Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="contact-name" placeholder="Contact Name">
                      </div>                    
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="email" name="retailer-email" placeholder="Email Address">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="text" name="retailer-phone" placeholder="Tel Number">
                        <i class="fa fa-phone"></i>
                      </div>                    
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group icon-group">
                        <input type="text" name="company-address" placeholder="Company Address">
                        <i class="fa fa-map-marker"></i>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" name="operating-states" placeholder="Operating States:">
                      </div>
                    </div>
                  </div> 

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="password" name="password" class="password-field" placeholder="Password">
                        <i class="fa fa-lock"></i>
                        <a href="" class="show-password">
                          <i class="fa fa-eye-slash fa-not"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="password" name="confirm-password" class="password-field" placeholder="Confirm Password">
                        <i class="fa fa-lock"></i> 
                        <a href="" class="show-password">
                          <i class="fa fa-eye-slash fa-not"></i> 
                        </a>                    
                      </div>
                    </div>
                  </div> 

                  <div class="row">
                    <div class="col-md-12">
                      <p class="password-note">Password should be minimum 8 characters and it must be mix of uppercases and symbols(&!$@#)</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn-submit">Create your account</button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <p class="have-sign-in">Have an account? <a href="">Sign in</a></p>
                    </div>
                  </div>                                    

                </form>

              </div>
              <div role="tabpanel" class="tab-pane installer-tab tab-role" id="installerRegistration">

                <form action="">
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="company-name" placeholder="Company Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="contact-name" placeholder="Contact Name">
                      </div>                    
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="email" name="retailer-email" placeholder="Email Address">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="text" name="retailer-phone" placeholder="Tel Number">
                        <i class="fa fa-phone"></i>
                      </div>                    
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group icon-group">
                        <input type="text" name="company-address" placeholder="Company Address">
                        <i class="fa fa-map-marker"></i>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" name="operating-states" placeholder="Operating States:">
                      </div>
                    </div>
                  </div> 

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="password" name="password" class="password-field" placeholder="Password">
                        <i class="fa fa-lock"></i>
                        <a href="" class="show-password">
                          <i class="fa fa-eye-slash fa-not"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group icon-group">
                        <input type="password" name="confirm-password" class="password-field" placeholder="Confirm Password">
                        <i class="fa fa-lock"></i> 
                        <a href="" class="show-password">
                          <i class="fa fa-eye-slash fa-not"></i> 
                        </a>                    
                      </div>
                    </div>
                  </div> 

                  <div class="row">
                    <div class="col-md-12">
                      <p class="password-note">Password should be minimum 8 characters and it must be mix of uppercases and symbols(&!$@#)</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn-submit">Create your account</button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <p class="have-sign-in">Have an account? <a href="">Sign in</a></p>
                    </div>
                  </div>                                    

                </form>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- end of login modal -->