---
layout: default
section: home
slug: home
title: PV MATE
---
<div class="home_main_banner">
        <div class="caption">
          The future of solar development is effortless
        </div>
        <a data-scroll data-options="easing: easeOutQuad" data-speed="1000" href="#homesec" class="scroll_down" ><img src="{{ "/images/scroll_mouse.png" | prepend: site.baseurl }}" class="img-responsive"></a>
        <div class="home-banner" style="background-image: url({{ '/images/main_banner.jpg' | prepend: site.baseurl }}); "></div>
</div>

<div class="are_you_a" id="homesec">
    <h2>Are you a...</h2>
    <div class="are_u_wrap">
      <div class="row">
        <div class="col-md-6">
          <div class="block">
            <img src="{{ "/images/retailer.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Retailer?">
            <h3>RETAILER</h3>
            <img src="{{ "/images/devider.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Retailer?">
            <P>Create a Profile, Submit Job Packs and Receive Bids from Installers</P>
            <a href="" data-toggle="modal" data-target="#registerModal" data-role="retailer" class="filled register">Register</a> <a href="" class="empty">Submit Job</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block">
            <img src="{{ "/images/installer.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Istaller?">
            <h3>INSTALLER</h3>
            <img src="{{ "/images/devider.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Istaller?">
            <P>Create a Profile, Receive Job Packs and Submit your Bid</P>
            <a href="" data-toggle="modal" data-target="#registerModal" data-role="installer" class="filled register">Register</a> <a href="" class="empty">Search Jobs</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="home_bottom_slider">
<div class="swiper-container home_slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slider-captions">
                <h3>Advertising Space</h3>
                <!-- <h4>Exclusive Partner</h4>
                <h4><img src="{{ "/images/solarjuice.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Retailer?"></h4> -->
            </div>
            <img src="{{ "/images/home_slider/home_slider_01.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="SUPPLIER">
        </div>
        <div class="swiper-slide">
            <div class="slider-captions">
                <h3>Advertising Space</h3>
                <!-- <h4>Exclusive Partner</h4>
                <h4><img src="{{ "/images/solarjuice.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Retailer?"></h4> -->
            </div>
            <img src="{{ "/images/home_slider/home_slider_02.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="SUPPLIER">
        </div>
        <div class="swiper-slide">
            <div class="slider-captions">
                <h3>Advertising Space</h3>
                <!-- <h4>Exclusive Partner</h4>
                <h4><img src="{{ "/images/solarjuice.png" | prepend: site.baseurl }}" class="img-responsive" alt="Are you a Retailer?"></h4> -->
            </div>
            <img src="{{ "/images/home_slider/home_slider_03.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="SUPPLIER">
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
</div>


