---
layout: default
section: home
slug: suppliers
title: SUPPLIER | PV MATE 
---

<!-- banner section -->
<section class="page-banner" style="background-image: url({{ site.baseurl }}/images/page-banners/supplier-banner.jpg);">
	<div class="container">
		<h2 class="banner-title">pv mate suppliers</h2>
	</div>
</section>
<!-- end of banner section -->

<!-- supplier content section -->
<section class="supplier-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="highlight-text">
					PV Mate invites any interested supplier and wholesalers to join us in our journey of creating a singular market place for solar installations in Australia. We wish to collaborate with an exclusive partner in Australia to supply primary components such as Solar Panels, Inverters, Batteries, Mounting, BOS and Monitoring Solutions within the platform to our registered Solar Retailers using the portal.
				</p>

<!-- 				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum voluptatibus at libero pariatur reprehenderit magnam, repellat autem quae nemo nam blanditiis sequi illo, nostrum repellendus. Inventore quasi animi, doloribus rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				</p> -->
			</div>
			<div class="col-md-6">
				<figure>
					<img src="{{ site.baseurl }}/images/supplier/solar-roof.png" alt="solar-roof">
				</figure>
			</div>
		</div>

<!-- 		<div class="row">
			<div class="suppliers-slider">
			{% for image in site.static_files %}
				{% if image.path contains 'images/supplier/suppliers' %}				
				<div class="item supplier">
					<img src="{{ site.baseurl }}/{{ image.path }}" alt="">
				</div>
				{% endif %}
			{% endfor %}				
			</div>
		</div> -->
	</div>
</section>
<!-- end of supplier content section -->