---
layout: default
section: about
slug: about
title: PV MATE - ABOUT
---
<div class="inner_main_wrap">
    <div class="top_section">
      <div class="left_blue">
          <div class="middle">
            <h3>About PV MATE</h3>
            <p class="quote">PV Mate connects businesses responsible for
    driving the shift towards a sustainable future,
    via a sophisticated singular platform.</p>
            <p>Our goal is to provide a B2B bidding & management platform for
    solar energy retailers and installers to successfully commission
    projects around the nation without having to worry about trust,
    quality, product or cost.</p>
          </div>
      </div>
      <div class="right_pic"><!-- <img src="{{ "/images/about/about_pv_mate.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="PV MATE"> --></div>
    </div>
    <div class="second_section">
<!--       <div class="about_nav_sec">
        <ul>
          <li><a data-scroll data-options="easing: easeOutQuad" data-speed="1000" href="#about" class="active">About</a></li>
          <li><a data-scroll data-options="easing: easeOutQuad" data-speed="1000" href="#why" >Why Choose PV MATE</a></li>
          <li><a data-scroll data-options="easing: easeOutQuad" data-speed="1000" href="#vision" >Vision, Mission & Values</a></li>
          <li><a data-scroll data-options="easing: easeOutQuad" data-speed="1000" href="#partners" >Partners</a></li>
        </ul>
      </div> -->
    
      <div>
        <h2>About</h2>
      </div>

      <div class="row" id="about">
          <div class="col-md-6">
            <div class="blocks left_block">
              <p>PV Mate effortlessly connects Solar Energy Retailers with capable and experienced Installers across Australia via our singular, intuitive platform. Our goal is to provide a B2B bidding & management platform for solar energy retailers and installers to successfully commission projects around the nation without having to worry about trust, quality, product or cost.</p>

              <p>Often the Solar PV Sector's sole focus is on business to customer relations. This underpins Installers and cuts off a vital relationship between retailers and their contractors. So, we designed PV Mate to give Solar Retailers and Installers a platform to easily grow and connect across Australia.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blocks right_block">
              <p>Australia's vast land and abundance of sunshine make it the perfect starting point to connect businesses that share a common interest - driving the shift towards a sustainable future. PV Mate aims to meet businesses core day-to-day requirements and improve efficiency within the Solar Industry.</p>

              <p>Whether you're a Solar Retailer looking for the right Installer to complete a project or an Installer looking for extra work and access to equipment, PV Mate has the solution. We promote these connections and provide both Retailers and Installers with all the tools they need to bring a solar system to life, one panel at a time.</p>
            </div>
          </div>
      </div>

    </div>

    <div class="third_section" id="why">
      <h2>Why Choose PV MATE</h2>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/1.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Structured Project Bidding</h4>
            <p>Develop new relationships between Installers and Retailers around the country. Compare Bids and find a partner that’s right for you. We facilitate connections for all types of Solar Projects, even if its just an inverter swap!</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/2.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Effortless Job Management</h4>
            <p>Make PV Mate your own CRM for retailers and installers with Document Management Capabilities, Chat Windows and an Archive of all your past work.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/5.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Quality Feedback & Vetting</h4>
            <p>Our platform gives both Installers and Retailers the opportunity to offer feedback once contracts are completed so you know exactly what to expect from a new partnership.</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/light.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Product Integration</h4>
            <p>Solar Retailers will soon be able to place component orders directly though the PV platform, putting the best quality products in front of our users via a trusted wholesaler.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/4.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Pay Installers</h4>
            <p>Encrypted payment solutions provide Installers with a secure and guaranteed form of payment upon reaching every milestone of their project.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blocks">
            <div class="icon">
              <img src="{{ "/images/about/3.svg" | prepend: site.baseurl }}" class="img-responsive" alt="">
            </div>
            <h4>Easy to Use</h4>
            <p>PV Mate is designed to be intuitive, simple and natural to use. Every window, icon, and setting is exactly where you expect it to be.</p>
          </div>
        </div>
      </div>


    </div>


    <div class="fourth_section" id="vision">
      <div class="blocks">
        <div class="row">
          <div class="col-md-3"><h3>VISION</h3></div>
          <div class="col-md-9"><p>At PV Mate we aim to be the only platform you need as an Installer or a Retailer to be a productive, successful and innovative energy provider.</p></div>
        </div>
      </div>

      <div class="blocks">
        <div class="row">
          <div class="col-md-3"><h3>MISSION</h3></div>
          <div class="col-md-9"><p>We work to provide innovative businesses in the renewable energy industry with a stable, reliable and sophisticated platform to streamline their push for change.</p></div>
        </div>
      </div>

      <div class="blocks">
        <div class="row">
          <div class="col-md-3"><h3>VALUES</h3></div>
          <div class="col-md-9"><p>We offer our services with Quality, Integrity, Passion, Simplicity and an unshakeable devotion to a Sustainable Future.</p></div>
        </div>
      </div>

    </div>


    <div class="fifth_section" id="partners">
      <h3>PARTNERS</h3>
      <ul>
        <li><img src="{{ "/images/about/partners/partner-01.jpg" | prepend: site.baseurl }}" class="img-responsive partner-img" alt="partner"></li>
        <li><img src="{{ "/images/about/partners/partner-02.jpg" | prepend: site.baseurl }}" class="img-responsive partner-img" alt="partner"></li>
        <li><img src="{{ "/images/about/partners/partner-03.png" | prepend: site.baseurl }}" class="img-responsive partner-img" alt="partner"></li>
      </ul>
    </div>
    

</div>
