---
layout: default
section: news
slug: news/2017-09-25-five-new-companies-selected-energylab-acceleration-program
title: PV MATE - NEWS - Description
---
<div class="inner_main_wrap">
    <h2>NEWS</h2>
    <div class="breadcrumb"><a href="{{ "/" | prepend: site.baseurl }}">Home</a> / <a href="{{ "/news/" | prepend: site.baseurl }}">News</a> / Five new companies selected for EnergyLab Acceleration Program</div>

    <div class="row news_wrap">   
        <div class="col-md-2">
            <div class="news_left">
              <div class="date">SEP 25, 2017</div>
              <div class="share">Share 
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="news_right">
              <h3>Five new companies selected for EnergyLab Acceleration Program</h3>

              <p>
                Australian clean energy accelerator, EnergyLab, has announced the second round of start-ups selected to take part in its 12-month “incubator” scheme, including companies specialising in EV support, energy efficiency for homes and businesses, and the efficient roll-out of solar PV.
              </p>

              <p>
                Launched in April this year, EnergyLab’s Acceleration Program is a collaboration with Origin Energy, University of Technology Sydney, Jobs for NSW and Climate-KIC that focuses entirely on helping Australian start-ups to develop and commercialise innovations considered to be integral to a clean energy future.
              </p>

              <p>
                As we reported here in February 2016, EnergyLab – which is the brain-child of Nick Lake and Piers Grove – is loosely based on a similar innovation in California, where the Australian co-founder of US solar leasing firm Danny Kennedy created SFun Cube, now known as PowerHouse.
              </p>

              <p>
                Companies accepted into the Australian program get access to a suite of support services, as well as mentoring – through weekly sessions with a business coach, and from the broader network of mentors made available through Origin and the other sponsor organisations.
              </p>

              <p>
                Each start-up also gets an investment of at least $50,000 from the Clean Energy Seed Fund, managed by Artesian Venture Partners, as well as support in raising further capital.
              </p>

              <p>
                The fund, established by Artesian in April to foster the innovation ecosystem in Australia’s Clean Energy sector, received a cornerstone investment from the Clean Energy Finance Corporation.
              </p>

              <p>
                The five companies joining EnergyLab this month include Everty – developer of a peer-to-peer electric vehicle charging network; Ecologic Apps – developer of a cloud-based platform to assess and increase energy efficiency, solar and batteries; OPTIM Controls – an online support platform for industrial energy efficiency; PV Mate – an online network for PV retailers and installers; and Ryde.Green – a bike-share program for kick scooters.
              </p>

              <p>
                “Many of the technologies that will shape the future of the Australian energy industry will come from local start-ups, and we are excited to welcome this latest cohort to EnergyLab,” said Origin Energy’s executive manager of future energy and business development, Tony Lucas.
              </p>

              <p>
                “As Australia is moving towards a cleaner and smarter energy future where customers have greater control and transparency over their energy use, we need to be investing in the brightest and best ideas”
              </p>

              <p>
                “Origin brings valuable expertise through experienced mentors to our program which will help scale up the speed and reach of the participating energy start-up companies, said EnergyLab executive director, Piers Grove.
              </p>

              <p>
                “Origin joins UTS, Jobs for NSW, Climate-KIC and others in our strong group of partners which allows EnergyLab to grow its reach. The future looks bright.”
              </p>

              <p>
                The five new companies to join EnergyLab join the first cohort of four companies, which span solar, electric vehicles, energy efficiency and buildings with low embodied energy. 
              </p>

            </div>
        </div>
    </div>

</div>