---
layout: default
section: news
slug: news
title: PV MATE - NEWS
---
<div class="inner_main_wrap">
    <h2>NEWS</h2>
    <div class="row news_wrap">   
        <div class="col-md-2">
            <div class="news_left">
              <div class="date">SEP 25, 2017</div>
              <div class="share">Share 
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="news_right">
              <h3>Five new companies selected for EnergyLab Acceleration Program</h3>
              <p>Australian clean energy accelerator, EnergyLab, has announced the second round of start-ups selected to take part in its 12-month “incubator” scheme, including companies specialising in EV support, energy efficiency for homes and businesses, and the efficient roll-out of solar PV.</p>
              <a href="{{ "/news/2017-09-25-five-new-companies-selected-energylab-acceleration-program.html" | prepend: site.baseurl }}" class="more">Continue Reading <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>

</div>