---
layout: default
section: news
slug: news
title: PV MATE - NEWS
---
<div class="inner_main_wrap">
    <h2>NEWS</h2>
    {% for post in site.posts %}
    <div class="row news_wrap">   
        <div class="col-md-2">
            <div class="news_left">
              <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
              <div class="share">Share 
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="news_right">
              <h3>{{ post.title }}</h3>
              <p>{{ post.short_description }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="more">Continue Reading <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
