---
layout: default
section: news
slug: news
title: PV MATE - NEWS - Description
---
<div class="inner_main_wrap">
    <h2>NEWS</h2>
    <div class="breadcrumb"><a href="{{ "/" | prepend: site.baseurl }}">Home</a> / <a href="{{ "/news/" | prepend: site.baseurl }}">News</a> / How to prepare for an Automated Future?</div>

    <div class="row news_wrap">   
        <div class="col-md-2">
            <div class="news_left">
              <div class="date">MAY 08, 2017</div>
              <div class="share">Share 
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="news_right">
              <h3>How to prepare for an Automated Future?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas diam nulla, laoreet id lacinia at, lobortis at eros. Sed eget elit massa. Fusce at libero eu ex cursus condimentum. Sed ullamcorper, orci ut condimentum porttitor, metus nisl hendrerit mi, a accumsan turpis magna a lorem. Morbi ante ligula, lacinia quis suscipit ut, scelerisque eu augue. </p>
              <p>Fusce interdum nulla nec quam bibendum, nec cursus ipsum egestas. Ut nec pulvinar leo. Nulla consequat nunc sed nisl malesuada bibendum</p>
              <div class="news_img_gallery">
              <div class="swiper_wrap">
                <div class="slider-wrapper">
                       <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="swiper-container news_gallery">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <a href="#"><img src="{{ "/images/news/news_img_1.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="How to prepare for an Automated Future"></a>
                            </div>
                            <div class="swiper-slide">
                              <a href="#"><img src="{{ "/images/news/news_img_2.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="How to prepare for an Automated Future"></a>
                            </div>
                          </div>
                          </div>
                          <!-- Add Pagination -->
                          <div class="swiper-pagination"></div>
                       <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="latest_news_sec">
        <h3>Latest News</h3>
        <div class="block">
          <p>Huawei, Chinese technology giant, is focusing on widening U.S</p>
          <a href="">Read <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="block">
          <p>Huawei, Chinese technology giant, is focusing on widening U.S</p>
          <a href="">Read <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="block">
          <p>Huawei, Chinese technology giant, is focusing on widening U.S</p>
          <a href="">Read <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="block">
          <p>Huawei, Chinese technology giant, is focusing on widening U.S</p>
          <a href="">Read <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
      </div>

</div>