---
layout: default
section: home
slug: installer
title: INSTALLER | PV MATE 
---

<!-- banner section -->
<section class="page-banner video-banner" style="background-image: url({{ site.baseurl }}/images/page-banners/installer-banner.jpg);">
	<div class="container">
		<h2 class="banner-title">pv mate installers</h2>
		<a class="video-play" href="https://www.youtube.com/watch?v=r3fE6FQT82s"><i class="fa fa-youtube-play"></i></a>
	</div>
</section>
<!-- end of banner section -->

<!-- common content -->
<section class="common-content">
	<div class="container">
		<div class="row">
			<h4 class="section-title">PV Mate provides an online platform for accredited solar installers to achieve the following</h4>
		</div>
		<div class="row installer-features">
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/auction.svg" alt="">
				</figure>
				<p>
					Create a comprehensive profile which would include all the relevant information to gain a solar retailers trust
				</p>
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/rating.svg" alt="">
				</figure>
				<p>
					Attain visibility of jobs posted around your standard operating area and submit a competitive bid accordingly
				</p>				
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/analysis.svg" alt="">
				</figure>
				<p>
					Forge new relationships with Solar Retailers
				</p>				
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/invoice.svg" alt="">
				</figure>
				<p>
					Use the portal to manage all on-going projects, keeping everything simple and streamlined
				</p>				
			</div>
		</div>
	</div>
</section>
<!-- end of common content -->

<!-- digging more content section -->
<section class="digging-more">
	<div class="container">
		<h3 class="section-title">Digging a little deeper: </h3>

		<div class="list-container">
			<ul>
				<li>Gain instant access to finding suitable jobs around your standard work zone with no effort or marketing costs.</li>
				<li>Use PV Mate as a CRM platform for existing jobs by linking with your standard solar retailer via the platform.</li>
				<li>Gain access to a shared management portal with your solar retailer so that each job can be tracked with access to onsite document upload capabilities and chat windows.</li>
			</ul>
			<ul>
				<li>Receive instant online payments via PV Mate, keeping everything on one singular platform.</li>
				<li>PV Mate archives all your jobs so that information can be accessed anywhere, anytime. </li>
				<li>Pick up Service and Maintenance jobs to keep cash flow rolling.</li>
			</ul>
		</div>
	</div>
</section>
<!-- end of digging more content section -->