---
layout: default
section: home
slug: retailer
title: RETAILER | PV MATE 
---

<!-- banner section -->
<section class="page-banner video-banner" style="background-image: url({{ site.baseurl }}/images/page-banners/retailer-banner.jpg);">
	<div class="container">
		<h2 class="banner-title">pv mate retailers</h2>
		<a class="video-play" href="https://www.youtube.com/watch?v=bTqVqk7FSmY"><i class="fa fa-youtube-play"></i></a>
	</div>
</section>
<!-- end of banner section -->

<!-- common content -->
<section class="common-content">
	<div class="container">
		<div class="row">
			<h4 class="section-title">PV MATE provides an online platform for Solar Retailers to achieve the following</h4>
		</div>
		<div class="row installer-features">
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/auction.svg" alt="">
				</figure>
				<p>
					Publish a Solar PV project on PV MATE  and receive relevant bids from countless installers around the country
				</p>
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/rating.svg" alt="">
				</figure>
				<p>
					Choose an experienced installer based on their comprehensive profile, feedback and our rating system
				</p>				
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/analysis.svg" alt="">
				</figure>
				<p>
					Use the portal to manage ongoing projects and make PV Mate your own CRM for installers 
				</p>				
			</div>
			<div class="col-md-3 installer-feature">
				<figure class="icon-img">
					<img src="{{ site.baseurl }}/images/installer/invoice.svg" alt="">
				</figure>
				<p>
					Utilise our secure payment portal to pay installers upon task completion
				</p>				
			</div>
		</div>
	</div>
</section>
<!-- end of common content -->

<!-- digging more content section -->
<section class="digging-more">
	<div class="container">
		<h3 class="section-title">Digging a little deeper: </h3>

		<div class="list-container">
			<ul>
				<li>Assign a Solar PV project to any installer on our database and start installing jobs interstate effortlessly</li>
				<li>Easy access to archived jobs anywhere, anytime </li>
				<li>PV Mate will provide full visibility of installers’ experience and quality – You are assured to have enough information to make an informed decision on the right installer for your project which includes access to a thorough rating & feedback system</li>
				<li>Multiple bids allow for lean costs and ease of cash flow allowing you to source installers from any state or suburb and attain higher job completion rates</li>
			</ul>
			<ul>
				<li>Manage post installation paperwork effortlessly with an easy to use document upload/download centre</li>
				<li>Set tasks to be completed by installers so that nothing is missed during a project</li>
				<li>Use the built in chat windows to discuss an on-going project</li>
				<li>Track and Manage multiple projects on the go</li>
				<li>Find installers for your Service & Maintenance Jobs</li>
			</ul>
		</div>
	</div>
</section>
<!-- end of digging more content section -->