---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin respond-from($min, $max){
  @if $min == null{
    @media (max-width: $max - 1) {
      @content;
    }
  } @else if $max == null{
    @media (min-width: $min) {
      @content;
    }
  } @else{
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}


@function calculateRem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "fonts",
    "layout",
    "home",
    "page"
;