.home_main_banner {
    width: 100%;
    position: relative;
    z-index: 1;
    .caption {
        width: 45%;
        text-align: center;
        position:absolute;
        top: 45%;
        left: 27.5%;
        z-index: 2;
        font:400 calculateRem(36px) $fonts-rubik;
        color:#fff;
        text-shadow: 1px 2px #666;
        span{font:500 calculateRem(56px) $fonts-rubik;}
        @media #{$mobiles} { 
            width: 80%;
            left: 10%;
            font:400 calculateRem(25px) $fonts-rubik;
            span{font:500 calculateRem(35px) $fonts-rubik;}
        }
        @media #{$vsmall_mobiles} { 
            width: 90%;
            left: 5%;
            font:400 calculateRem(15px) $fonts-rubik;
            span{font:500 calculateRem(20px) $fonts-rubik;}
        }
    }
    .scroll_down {
        position:absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -13px;
        z-index: 3;
        @media #{$mobiles} { display:none;}
    }

    .home-banner {
        background-size: cover;
        background-position: center;
        height: 500px;
    }
}
.are_you_a {
    width: 100%;
    padding: 3% 0% 5%;
    background: url('../images/are_u_bg.jpg') bottom center no-repeat;
    h2 {
        font:600 calculateRem(56px) $fonts-worksans;
        color: #fda800;
        padding-bottom:4%;
        width: 100%;
        text-align: center;
        @media #{$mobiles} {font:300 calculateRem(40px) $fonts-worksans;}
        @media #{$vsmall_mobiles} {font:300 calculateRem(32px) $fonts-worksans;}
    }
    .are_u_wrap {
        width: 100%;
        background: url('../images/home_ru_devider.gif') center center no-repeat;
        @media #{$mobiles} {background:none;}
        .block {
            text-align: center;
            @media #{$mobiles} {margin-bottom:15%;}
            h3 {
                font:600 calculateRem(36px) $fonts-worksans;
                color: #2a78e4;
                padding:20px 0px 0px 0px;
                @media #{$mobiles} {font:600 calculateRem(28px) $fonts-worksans;}
                @media #{$vsmall_mobiles} {font:600 calculateRem(24px) $fonts-worksans;}
            }
            p {
                font:400 calculateRem(22px) $fonts-worksans;
                color: #000;
                padding:20px 0px;
                width: 45%;
                margin: auto;
                @media #{$mobiles} {font:400 calculateRem(20px) $fonts-worksans;}
                @media #{$vsmall_mobiles} {font:400 calculateRem(18px) $fonts-worksans;}
            }
            .filled {
                font:400 calculateRem(21px) $fonts-worksans;
                color: #fff;
                background:#2977e3;
                border:2px solid #2977e3;
                padding:22px 55px;
                border-radius: 50px;
                display: inline-block;
                margin:20px 50px 0px 0px;
                &:hover{
                    background:#fff;
                    color:#2977e3;
                }
                @media #{$vsmall_mobiles} {
                    display:block; 
                    padding:15px 35px;
                    border-radius: 30px;
                    margin: 20px 20px 0px 20px;
                }
            }
            .empty {
                font:400 calculateRem(21px) $fonts-worksans;
                color: #2977e3;
                background:#fff;
                border:2px solid #2977e3;
                padding:22px 35px;
                border-radius: 50px;
                display: inline-block;
                margin:20px 0px 0px 0px;
                &:hover{
                    background:#2977e3;
                    color:#fff;
                }
                @media #{$vsmall_mobiles} {
                    display:block; 
                    padding:15px 35px;
                    border-radius: 30px;
                    margin: 20px 20px 0px 20px;
                }
            }
        }
    }
}
.home_bottom_slider {
    width: 100%;
    .home_slider {
        position: relative;
        z-index: 2;
    .slider-captions {
            position:absolute;
            display: table-cell;
            text-align: center;
            width: 55%;
            margin: auto;
            top: 30%;
            bottom: 0;
            left: 0;
            right: 0;
            @media #{$laptops} {width: 75%;}
            @media #{$mobiles} { top:10%; width: 80%;}
            @media #{$vsmall-mobiles} { width: 90%; top:2%;}
            h3 {
                font:600 calculateRem(36px) $fonts-worksans;
                color: #2a78e4;
                padding:20px 0px;
                text-transform: uppercase;
                background: url('../images/devider.png') center bottom no-repeat;
                @media #{$mobiles} { font:600 calculateRem(25px) $fonts-worksans; }
               @media #{$vsmall_mobiles} { font:600 calculateRem(20px) $fonts-worksans; }
            }
            h4 {
               font:400 calculateRem(38px) $fonts-worksans;
               color: #4e4e4e;
               padding:10px 0px 20px;
               letter-spacing: 1px;
               @media #{$mobiles} { font:300 calculateRem(25px) $fonts-worksans; padding:5px 0px; }
               @media #{$vsmall_mobiles} { font:300 calculateRem(20px) $fonts-worksans; }
            }
            img {
                @media #{$mobiles} { width:30%; }
            }
        }
        .swiper-button-next {
            width: 60px;
            height: 60px;
            right: 2%;
            background: url('../images/right.png') center left no-repeat;
            &:hover {
                background: url('../images/right.png') center right no-repeat;
                width: 58px;
            }
        }
        .swiper-button-prev {
            width: 60px;
            height: 60px;
            left: 2%;
            background: url('../images/left.png') center right no-repeat;
            &:hover {
                background: url('../images/left.png') center left no-repeat;
                width: 58px;
            }
        }
    }
}