$vsmall_mobiles: "(max-width: 480px)";
$mobiles: "(max-width: 991px)";
$tab_laptop: "(min-width:992px) and (max-width: 1150px)";
$laptops: "(min-width:1151px) and (max-width: 1599px)";
$full_desktop: "(min-width: 1600px)";
$min_height_desktop: "(max-height:690px)";

$fonts-rubik:'Rubik', sans-serif;
$fonts-worksans:'Work Sans', sans-serif;
$font-nunito: 'Nunito Sans', sans-serif;

$orange: #FDB403;
$blue: #2A78E4;

* {
    outline: none !important;
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

p {
    color: #2B2B2B;
}

.highlight-text {
    font-size: 18px !important;
    line-height: 30px;
    margin-bottom: 20px !important;
}

.section-title {
    font-size: 20px;
    color: $blue;
    text-align: center;
}

.navbar-collapse {
    max-height: none !important;
}

a, button {
    transition: all .4s;
}
ul,li {list-style:none;}

input {
    &[type="button"], &[type="reset"], &[type="submit"] {
        transition: all .4s;
    }
}

strong, b {
    font-weight: 700;
}
ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font:600 calculateRem(17px) $fonts-worksans;
    line-height: 1.4;
    color: #333;
    @include respond-from(null, $device-sm){
        font-size: 85%;
    }
    @include respond-from($device-sm, $device-md){
        font-size: 90%;
    }
    @include respond-from($device-md, $device-lg){
        font-size: 95%;
    }
}

body {
    width: 100%;
    // height: 100%;
    position: relative;
    background-color: #fff;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    // min-height: 990px;
    font-size: 14px;
}
section {
    position: relative;
    overflow: hidden;
}

.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    .popup-close {
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
    }

    .video-popup-container {
        width: 700px;

        @media (max-width: 720px) {
            width: 300px;
        }
    }

}

.container_full {
    padding:0% 2%;
    width: 100%;
}
.wrapper {
    position:relative;
    overflow: hidden;
    margin-top: 110px;
    @media #{$mobiles} { margin-top:60px;}
    @media #{$tab_laptop} { margin-top:75px;}
    @media #{$laptops} { margin-top:75px;}
}

.navbar-default {
    margin: 0px;
    width: 100%;
    background:#fff;
    height: 110px;
    border:none;
    @media #{$mobiles} { height: auto;}
    @media #{$tab_laptop} { height: auto;}
    @media #{$laptops} { height: auto;}
    .navbar-nav {
        padding:0px;
        li {
            padding: 45px 25px 0px 25px;
            @media #{$mobiles} { padding: 12px 25px 0px 25px;}
            @media #{$tab_laptop} { padding: 28px 10px 0px 10px;}
            @media #{$laptops} { padding: 30px 16px 0px 16px;}
            a {
                font:500 calculateRem(17px) $fonts-worksans;
                color: #2b3571;
                padding:0px 0px 8px 0px;
                &:hover {
                    color: #348fed;
                    border-bottom:2px solid #fec84b;
                }
                &.active {
                    color: #348fed;
                    border-bottom:2px solid #fec84b;
                }
                @media #{$tab_laptop} { font:500 calculateRem(15px) $fonts-worksans;}
                @media #{$laptops} { font:500 calculateRem(15px) $fonts-worksans;}
            }
            &.active>a, &.active>a:hover, &.active>a:focus {
                color: #348fed;
                text-decoration: none;
                background:none;
            }
            &.login_link {
                padding-top:28px;
                @media #{$mobiles} { padding-top:15px;}
                @media #{$tab_laptop} { padding-top:17px;}
                @media #{$laptops} { padding-top:18px;}
                a {
                border:2px solid #2977e3;
                color: #328de9;
                padding:15px 30px;
                border-radius:30px;
                text-align:center;
                @media #{$tab_laptop} { padding:10px 14px; border-radius:25px;}
                @media #{$laptops} { padding:10px 18px; border-radius:25px;}
                    &:hover {
                        color: #fff;
                        background:#328de9;
                    }
                }
            }
            
            .dropdown-menu {
                background:#2a79e8;
                border:1px solid #2a79e8;
                left: auto;
                right: auto;
                @media #{$mobiles} {max-width:100%;}
                li {
                   padding: 15px 0px 0px 0px;
                   &:last-child {
                        a {
                            border-bottom:0;
                        }
                        }
                   a {
                    font:500 calculateRem(16px) $fonts-worksans;
                    color:#fff;
                    border-bottom:1px solid #4e8ce4;
                    border-left:2px solid #2a79e8;
                    padding: 0px 20px 10px;
                    @media #{$mobiles} {color:#fff;}
                        &:hover {
                        border-left:2px solid #fff;
                        }
                    }
                }
                .point{
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #2a79e8;
                position:absolute;
                top:-7px;
                left: 15%;
                margin-left: -7px;
                @media #{$mobiles} { display:none;}
                }
            }
        }
                
    }
    .navbar-brand {
        margin:0px;
        padding:15px 0px 12px 0px;
        &>img {
            width: auto;
            height: 100%;
        }

        &:hover {
            color: #000;
        }
        @media #{$mobiles} { height: 60px;}
        @media #{$tab_laptop} { height: 75px;}
        @media #{$laptops} { height: 75px;}
    }

    .navbar-toggle {
        border: 0;
    }
    .container_full {
        @media #{$mobiles} { background:#fff;}
    }
    @include respond-from(null, $device-sm){
        .navbar-brand {
            height: 60px;
        }
        .navbar-toggle {
            padding: 15px 0px;
        }
    }
}

.bgwhite {
    background: #fff;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

footer {
    background:#f7f7f7;
    color: #525252;
    font:400 calculateRem(16px) $fonts-worksans;
    width: 100%;
    display: inline-table;
    padding:35px 0px;
    @media #{$mobiles} { text-align:center;}
    a {
        color: #abacaf;
        padding:0 5px;
        &:hover {
        color: #999;
      }
    }
    .text-right {text-align:right;
        @media #{$mobiles} { text-align:center;}}
    .text-left {text-align:left;
        @media #{$mobiles} { text-align:center;}}
}

.modal-dialog {
    width: 70%;
    background:#fff;
    border-radius:12px;
    @media #{$laptops} { width: 80%;}
    @media #{$tab_laptop} { width: 80%;}
    @media #{$mobiles} { width: 90%; margin:0 auto;}
    @media #{$vsmall_mobiles} { width: 96%; margin:0 auto;}
    .modal-content {
        border:none;
        padding:0px;
        margin-bottom: 2%;
        border-radius:12px;
        float: left;
        width: 100%;
        background:#4274b9 url('../images/sign-in-vector.png') bottom center no-repeat;
        .close_white {
            width: 35px;
            height: 35px;
            position:absolute;
            top: 30px;
            right: 30px;
            background:url('../images/close.gif') center center no-repeat;
            z-index: 2000;
            @media #{$mobiles} { 
                background:url('../images/close_mobile.png') center center no-repeat;
                top: 15px;
                right: 15px;
            }
        }
        .modal-body {
            text-align: center;
            padding:0px;
            .create_sec {
                width:45%;
                float: left;
                padding:10% 4% 22% 4%;
                border-top-left-radius:12px;
                border-bottom-left-radius:12px;
                @media #{$mobiles} {width:100%; padding:20% 4% 22% 4%; background:#4274b9 url('../images/sign-in-vector.png') bottom center no-repeat;}
                h3 {
                    color: #fff;
                    font:300 calculateRem(30px) $fonts-rubik;
                    text-shadow: 1px 2px #666;
                    padding-bottom:15px;
                }
                h2 {
                    color: #fff;
                    font:300 calculateRem(50px) $fonts-rubik;
                    text-shadow: 1px 2px #666;
                    line-height: 4rem;
                    padding:10% 0% 6%;
                }
                .create_acc {
                    font:400 calculateRem(21px) $fonts-rubik;
                    color: #4274b9;
                    background:#fff;
                    border:2px solid #4274b9;
                    padding:22px 45px;
                    border-radius: 50px;
                    display: inline-block;
                    &:hover{
                        background:#4274b9;
                        color:#fff;
                        border:2px solid #fff;
                    }
                    @media #{$vsmall_mobiles} {
                        display:block; 
                        padding:15px 35px;
                        border-radius: 30px;
                        margin: 20px 20px 0px 20px;
                    }
                }
            }
            .sign_in_sec {
                width: 55%;
                float: left;
                text-align: center;
                padding:5% 12% 7%;
                background:#fff;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                @media #{$laptops} {padding:5% 8%;}
                @media #{$tab_laptop} {padding:5% 8%;}
                @media #{$mobiles} {width:100%;}
                .logo {
                    max-width: 185px;
                    margin-bottom: 10%;
                    margin: 0% auto 7%;
                }
                h2 {
                    color: #727272;
                    font:300 calculateRem(50px) $fonts-rubik;
                    margin-bottom: 2%;
                }
                p {
                   color: #a9a9a9;
                   font:300 calculateRem(18px) $fonts-rubik;
                   margin-bottom: 8%;
                }
                .sign_tabs {
                    .nav-tabs {
                        border:none;
                        li {
                            border:2px solid #feb30a;
                            padding:0px;
                            text-align: center;
                            width: 50%;
                            a {
                                font:400 calculateRem(19px) $fonts-rubik;
                                color: #b9adad;
                                padding:17px;
                                text-transform: uppercase;
                                border:none;
                                border-radius:0px;
                                margin: 0px;
                                }
                            &.active {
                                a {background:#feb30a; color:#fff;}
                            }
                            &:nth-of-type(1) {
                                border-top-left-radius:14px;
                                border-bottom-left-radius:14px; a {border-top-left-radius:12px; border-bottom-left-radius:12px;}
                            }
                            &:nth-of-type(2) {
                                border-top-right-radius:14px;
                                border-bottom-right-radius:14px; a {border-top-right-radius:12px; border-bottom-right-radius:12px;}
                            }
                            }
                        }
                        .tab-content {
                            padding:0% 0% 8%;
                            .input-group {
                                position:relative;
                                margin-top: 8%;
                                width: 100%;
                                .input-group-addon {
                                    border:none;
                                    background:none;
                                    color: #6990c7;
                                    font-size: 21px;
                                    position:absolute;
                                    left: 8px;
                                    top: 13px;
                                    &.passsec {
                                        left: 11px;
                                        top: 14px;
                                    }
                                    &:focus {
                                    border-color: #72a6ef;
                                  }
                                }
                                .sign_fields {
                                    border:2px solid #dfdfdf;
                                    border-radius:15px;
                                    padding:17px 15px 17px 55px;
                                    width: 100%;
                                    color: #a9a9a9;
                                    font:300 calculateRem(18px) $fonts-rubik;
                                    &:focus {
                                    border-color: #72a6ef;
                                  }
                                }
                                .toggler-ico {
                                    position:absolute;
                                    top: 8px;
                                    right: -10px;
                                    font-size: 20px;
                                    line-height: 2.6rem;
                                    padding-left:10px;
                                    background:none;
                                    border:none;
                                    border-left:1px solid #c9c9c9;
                                    color: #ababab;
                                }
                            }
                            ul {
                                margin: 15px 0px;
                                width: 100%;
                                display: inline-block;
                                li {
                                    color: #a9a9a9;
                                    font:300 calculateRem(18px) $fonts-rubik;
                                    float: left;
                                    &:nth-of-type(2) {float: right;}
                                    a {
                                        color: #a9a9a9;
                                        font:300 calculateRem(18px) $fonts-rubik;
                                        margin: 12px 0px 10px 0px;
                                        display: inline-block;
                                    } 
                                }
                            }
                            
                        }
                        .login {
                        font:400 calculateRem(20px) $fonts-worksans;
                        color: #fff;
                        background:#2977e3;
                        border:2px solid #2977e3;
                        padding:17px 65px;
                        border-radius: 50px;
                        display: inline-block;
                        &:hover{
                            background:#fff;
                            color:#2977e3;
                        }
                        @media #{$vsmall_mobiles} {
                            display:block; 
                            padding:15px 35px;
                            border-radius: 30px;
                            margin: 20px 20px 0px 20px;
                        }
                    }
                }
                
            }
        }
    }
    
}

#registerModal {

    .sign_in_sec {
        width: 100%;
        float: none;
        padding: 5% 12% 0%;
        background-image: url(../images/modal-bg.png);
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;      

        .sign_tabs {
            .tab-content {
                padding: 50px 0;

                .password-note {
                    font-size: 12px;
                    text-align: left;
                    margin-bottom: 30px;
                }

                .have-sign-in {
                    margin-bottom: 30px;
                    font-size: 14px;

                    a {
                        color: #FEB30A;
                    }
                }

                .row {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .btn-submit {
                    font-family: $font-nunito;
                    font-size: 18px;
                    font-weight: 200;
                    letter-spacing: 1px;
                    border: none;
                    outline: none;
                    background: #2977E3;
                    color: white;
                    padding: 15px 40px;
                    border-radius: 30px;
                    box-shadow: 0 8px 18px 0 rgba(0,0,0,.12);
                }

                .form-group {
                    input {
                        font-family: $fonts-rubik;
                        font-weight: 200;
                        width: 100%;
                        border: 1px solid #D0D0D0;
                        padding: 20px;
                        color: #989898;
                        border-radius: 20px;
                        outline: none;

                        &:focus {
                            border-color: #72A6EE;
                        }
                    }

                    &.icon-group {
                        position: relative;

                        .fa:not(.fa-not) {
                            position: absolute;
                            top: 50%;
                            left: 15px;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);  
                            color: #2977E3;
                            font-size: 18px;                          
                        }

                        input {
                            text-indent: 20px;
                        }

                        a {
                            position: absolute;
                            top: 50%;
                            right: 15px;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            display: inline-block;
                            padding-left: 12px; 

                            &::before {
                                content: "";
                                position: absolute;
                                top: -8px;
                                left: 0;
                                bottom: -8px;
                                width: 1px;
                                background: #D0D0D0;
                            }                           
                        }
                    }
                }
            }
        }
    }
}

.faq {
    .navbar-default {
        border-bottom:2px solid #bfd6f8;
    }
    .inner_main_wrap {
        width: 100%;
        padding:2% 20%;
        h2 {
            font:600 calculateRem(40px) $fonts-worksans;
            color: #2a78e4;
            padding-bottom:30px;
        }
        .panel-group {
            border-left:2px solid #d8d8d8;
            border-bottom:2px solid #d8d8d8;
            .panel-default {
                border-radius:0;
                border:none;
                border-bottom:2px solid #d8d8d8;
                .panel-heading {
                    border:none;
                    padding:0;
                    background:none;
                    .panel-title {
                        position:relative;
                        a {
                            font:400 calculateRem(22px) $fonts-worksans;
                            padding:20px 30px;
                            width: 100%;
                            display: inline-block;
                            background:url('../images/minus.gif') 99% center  no-repeat;
                            color: #1f71e3;
                        }
                        a.collapsed {
                            background:url('../images/plus.gif') 99% center  no-repeat;
                            color: #000;
                        }
                        .sep_line {
                            position:absolute;
                            width: 2px;
                            height: 50px;
                            right: 5%;
                            top: 10px;
                            background:#dfdfdf;
                        }
                    }
                }
                .panel-body {
                    padding:0% 5% 3% 5%;
                    font:400 calculateRem(18px) $fonts-worksans;
                    color: #323232;
                    line-height: 1.6rem;
                }
            }
            .panel-default + .panel-collapse + .panel-heading {background:#ff0000 !important;}
        }
    }
}

.news {
    .navbar-default {
        border-bottom:2px solid #bfd6f8;
    }
    .inner_main_wrap {
        width: 100%;
        padding:2% 15%;
        h2 {
            font:600 calculateRem(40px) $fonts-worksans;
            color: #2a78e4;
            padding-bottom:30px;
        }
        .breadcrumb {
            font:400 calculateRem(15px) $fonts-worksans;
            color: #555;
            background:none;
            padding:0px 0px 20px 0px;
            a {color:#000;
                &:hover {color:#666;}
            }
        }
        .news_wrap {
            margin-bottom: 5%;
            .news_left {
                margin-right: -30px;
                @media #{$mobiles} {margin-bottom:30px;}
                .date {
                    text-transform: uppercase;
                    font:400 calculateRem(20px) $fonts-worksans;
                    color: #1d1d1d;
                    width: 100%;
                    border-bottom:2px solid #d8d8d8;
                    padding-bottom:18px;
                    padding-right:0px;
                    margin-bottom: 18px;
                    @media #{$mobiles} {border:none; padding-bottom:0px;}
                }
                .share {
                    font:500 calculateRem(18px) $fonts-worksans;
                    color: #1d1d1d;
                    width: 100%;
                    @media #{$mobiles} {border-bottom:2px solid #d8d8d8; padding-bottom:20px;}
                    .fa {
                        color: #2a78e4;
                        font-size: calculateRem(20px);
                        margin-left: 8px;
                    }
                }
            }
            .news_right {
                border-left:2px solid #d8d8d8;
                padding-left:8%;
                @media #{$mobiles} {margin-bottom:30px;}
                h3 {
                    font:500 calculateRem(28px) $fonts-worksans;
                    padding-bottom:2%;
                }
                p{
                    font:400 calculateRem(17px) $fonts-worksans;
                    color: #323232;
                    line-height: 1.6rem;
                    padding-bottom:2%;
                }
                .more {
                    color: #fdab00;
                    font:400 calculateRem(17px) $fonts-worksans;
                }
                .news_img_gallery {
                    width: 70%;
                    padding:2% 0%;
                    margin: 0 auto 60px auto;
                    @media #{$laptops} { width: 80%;}
                    @media #{$mobiles} { width: 100%;}
                    .swiper_wrap {
                        padding:0px;
                        height:100%;
                        width: 100%;
                        position: relative;
                        display: block;
                        text-align: center;
                        .swiper-pagination {
                            width: 100%;
                            margin: 10px 0px;
                            .swiper-pagination-bullet {
                                display: inline-block;
                                margin: 7px;
                                width: 8px;
                                height: 8px;
                                background:#bdbdbd;
                                border-radius:0;
                            }
                            .swiper-pagination-bullet-active {
                                background:#fdb403;
                            }
                        }
                    }
                    .swiper-button-next{
                        margin-top: 0px;
                        position: absolute;
                        top: 50%;
                        right: -66px;
                        width: 42px;
                        height: 42px;
                        transform: translateY(-50%);
                        background:#fdb403;
                        font-size: 29px;
                        color: #fff;
                        @media #{$laptops} { right: -46px;}
                        @media #{$mobiles} { right: 15px;}
                    }
                    .swiper-button-prev{
                        position: absolute;
                        top: 50%;
                        left: -66px;
                        width: 42px;
                        height: 42px;
                        transform: translateY(-50%);
                        margin-top: 0px;;
                        transform: translateY(-50%);
                        background:#fdb403;
                        font-size: 29px;
                        color: #fff;
                        @media #{$laptops} { left: -46px;}
                        @media #{$mobiles} { left: 15px;}
                    }
                }
            }
        }
        .latest_news_sec {
            width: 100%;
            border-top:1px solid #d7d7d7;
            padding:2% 0%;
            h3 {
                font:400 calculateRem(36px) $fonts-worksans;
                color: #2a78e4;
                padding-bottom:30px;
                }
            .block {
                width: 23%;
                margin-right: 2%;
                border:1px solid #e1e1e1;
                padding:20px;
                display: inline-block;
                &:last-child{margin-right:0px;}
                @media #{$mobiles} { width:100%; margin-bottom:20px;}
                p {
                    font:400 calculateRem(28px) $fonts-worksans;
                    color: #000;
                    text-align: center;
                    border-bottom:1px solid #d9d9d9;
                    padding-bottom:20px;
                    margin-bottom:20px;
                }
                a {
                    width: 100%;
                    text-align: center;
                    font:400 calculateRem(17px) $fonts-worksans;
                    color: #fdb000;
                    display: inline-block;
                }
            }
        }
    }
}


.about {
    .navbar-default {
        border-bottom:2px solid #bfd6f8;
    }
    .inner_main_wrap {
        width: 100%;
        .top_section {
            width: 100%;
            float: left;
            .left_blue {
                width: 50%;
                float: left;
                padding:5rem 5rem 4rem 6rem;
                background:#2a79e8;
                color: #fff;
                display: table;
                @media #{$mobiles} {width: 100%; padding:3rem;}
                .middle {
                    display: table-cell;
                    vertical-align: middle;
                    h3 {
                        font:400 calculateRem(36px) $fonts-worksans;
                        padding-bottom:2rem;
                    }
                    p{
                        font:400 calculateRem(23px) $fonts-worksans;
                        line-height: 2rem;
                        padding-bottom:2%;
                        
                        &.quote {
                            position:relative;
                            padding:0.5rem 4rem;
                            margin-bottom: 2rem;
                            &:before {
                                display: inline-block;
                                content: '';
                                width: 50px;
                                height: 45px;
                                background:url('../images/inverted-comma-open.svg') left top no-repeat;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                                top: 0.3rem;
                            }
                            &:after {
                                display: inline-block;
                                content: '';
                                width: 50px;
                                height: 45px;
                                background:url('../images/inverted-comma-close.svg') left top no-repeat;
                                background-size: contain;
                                position: absolute;
                                bottom: -0.7rem;
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
            .right_pic {
                width: 50%;
                float: left;
                background:url('../images/about/about_pv_mate.jpg') center top no-repeat;
                background-size:cover;
                @media #{$mobiles} {width: 100%; height:30vh !important;}
            }
        }
        .second_section {
            width: 100%;
            clear: both;
            padding-top: 20px;

            h2 {
                text-align: center;
                font:600 calculateRem(46px) $fonts-worksans;
                color: #2a78e4;
                @media #{$mobiles} {font:600 calculateRem(36px) $fonts-worksans; background-size:55%;}
                @media #{$vsmall_mobiles} {font:600 calculateRem(30px) $fonts-worksans;}
                background:url('../images/h2_underline.png') center bottom no-repeat;
                padding:0 0 1.5rem 0;
            }

            .about_nav_sec {
                width: 50%;
                background:#fdb403;
                display: inline-block;
                @media #{$mobiles} {width: 100%;}
                ul {
                    float: right;
                    li {
                        display: inline-block;
                        @media #{$mobiles} {width: 100%; text-align:center;}
                        a {
                          font:500 calculateRem(18px) $fonts-worksans;  
                          color: #282828;
                          padding:1.2rem 2rem;
                          display: inline-block;
                          border-bottom:3px solid #fdb403;
                          @media #{$mobiles} {width: 100%;}
                          &:hover, &.active {
                            color: #348fed;
                            border-bottom:3px solid #348fed;
                            background:#fff;
                          }
                        }
                    }
                }
            }
            .blocks {
                padding:3rem 3rem 3rem 1rem;
                p {
                    padding-bottom:1.5rem;
                }
                &.left_block {
                    padding-left:6rem;
                    font:500 calculateRem(22px) $fonts-worksans;  
                    color: #272727;
                    line-height: 2rem;
                    @media #{$mobiles} {padding:3rem 3rem 0rem;}
                }
                &.right_block {
                    font:500 calculateRem(18px) $fonts-worksans;  
                    color: #272727;
                    line-height: 2rem;
                    @media #{$mobiles} {padding:3rem;}
                }
            }
        }

        .third_section {
            padding:1rem 0 4rem;
            text-align: center;
            h2 {
                font:600 calculateRem(46px) $fonts-worksans;
                color: #2a78e4;
                @media #{$mobiles} {font:600 calculateRem(36px) $fonts-worksans; background-size:55%;}
                @media #{$vsmall_mobiles} {font:600 calculateRem(30px) $fonts-worksans;}
                background:url('../images/h2_underline.png') center bottom no-repeat;
                padding:0 0 1.5rem 0;
            }
            .blocks {
                padding:2rem 0 ;
                @media #{$mobiles} {padding:2rem}
                .icon {
                    margin:1rem;
                    display: inline-block;
                    img {width:90px;}
                }
                h4 {
                    font:500 calculateRem(24px) $fonts-worksans;  
                    color: #2a78e4;
                    padding:0 0 1rem 0;
                }
                p {
                    font:500 calculateRem(18px) $fonts-worksans;  
                    color: #272727;
                    line-height: 2rem;
                }
            }

        }

        .fourth_section {
            width: 100%;
            background:url('../images/about/vision_bg.jpg') center center no-repeat;
            background-size:cover;
            padding:2rem 6rem;
            @media #{$mobiles} {padding:2rem 3rem;}
            .blocks {
                border-bottom:2px solid #6199eb;
                padding:2rem;
                &:nth-of-type(3) {
                    border:none;
                }
                h3 {
                    font:600 calculateRem(44px) $fonts-worksans;
                    color: #ffc000;
                    float: right;
                    @media #{$mobiles} {font:600 calculateRem(34px) $fonts-worksans; float:left;}
                }
                p {
                    font:400 calculateRem(28px) $fonts-worksans;
                    color: #fff;
                    line-height: 3.5rem;
                    float: left;
                    @media #{$mobiles} {font:400 calculateRem(20px) $fonts-worksans; line-height: 2.2rem;}
                }
            }
        }

        .fifth_section {
            padding:5rem;
            text-align: center;
            @media #{$mobiles} {padding:3rem;}
            h3 {
                font:600 calculateRem(44px) $fonts-worksans;
                color: #2a78e4;
                @media #{$mobiles} {font:600 calculateRem(28px) $fonts-worksans; background-size:55%;}
                @media #{$vsmall_mobiles} {font:600 calculateRem(24px) $fonts-worksans;}
                background:url('../images/h2_underline.png') center bottom no-repeat;
                padding:0 0 1.5rem 0;
                margin-bottom: 2rem;
            }
            ul {
                width: 100%;
                display: table;
                li {
                    display: table-cell;
                    padding:0 1rem;
                    @media #{$mobiles} {width:100%; display:inline-block; padding: 2rem 0;}
                    img {
                        border:1px solid #c0c0c0;
                        
                        &:hover {
                            border:1px solid #2a77e3;
                            -moz-box-shadow:    3px 3px 5px 6px #ccc;
                              -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                              box-shadow:         3px 3px 5px 6px #ccc;
                        }
                    }
                }
            }
        }
    }
}