section.page-banner
	background: 
		size: cover
		position: center
	height: 600px
	display: flex 
	align-items: center
	justify-content: center
	text-align: center

	&.video-banner	
		flex-direction: column

		.video-play
			display: inline-block
			margin-top: 20px

			.fa 
				color: white
				font:
					size: 60px				

	.banner-title
		text-transform: uppercase
		color: white
		font:
			size: 50px

section.supplier-content
	padding: 50px 0

	p 
		font:
			size: 16px
			weight: 400
		color: #1D1D1D
		margin-bottom: 20px

	figure
		text-align: center
	
		img
			max-width: 400px
			width: 100%

	.suppliers-slider
		margin-top: 50px

		.owl-stage-outer
			overflow: hidden

		.owl-stage
			display: flex 
			align-items: center
			justify-content: space-between

		.item
			text-align: center

			img 
				max-width: 200px

		.owl-nav
			display: none

		.owl-dots
			display: flex 
			align-items: center
			justify-content: center

			.owl-dot
				span 
					display: block
					width: 7px
					height: 7px
					background: #bdbdbd
					margin: 30px 5px

				&.active
					span
						width: 7px
						height: 7px						
						background: $orange			

.common-content
	padding: 50px 0

	.installer-features
		margin-top: 50px

		p 
			font:
				size: 15px
				weight: 400

		.installer-feature
			text-align: center
			margin-bottom: 20px

			figure
				margin-bottom: 20px
				height: 80px
				display: flex
				align-items: center
				justify-content: center

				img 
					max-width: 50px
					width: 100%

.digging-more
	background: #F9F9F9
	padding: 50px 0

	.section-title
		text-align: left

	.list-container
		margin-top: 30px
		display: flex
		justify-content: space-between

		ul 
			li 
				margin: 7px 0
				color: #1D1D1D
				font:
					size: 15px
					weight: 400
				padding-left: 1.5em
				position: relative

				&::before
					content: ''
					width: 8px 
					height: 8px
					background: 
						image: url(../images/installer/bullet.svg)
						size: contain 
						repeat: no-repeat
					position: absolute
					top: 0
					left: 0
					margin-top: 7px


			&:first-child
				margin-right: 50px
				width: 60%


		@media (max-width: 992px)
			flex-direction: column

			ul 
				&:first-child
					margin-right: 0
					width: 100%

section.contact
	position: relative

	#map
		background: 
			image: url(../images/page-banners/installer-banner.jpg)
			size: cover
			position: center
		height: 600px

	.contact-box
		text-align: center
		max-width: 800px
		margin: auto
		background: white
		padding: 20px
		position: absolute
		top: 50%
		left: 0
		right: 0
		transform: translateY(-50%)
		box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.3)

		.icon-group
			height: 50px
			margin-top: 20px

		.fa 
			font:
				size: 16px
			color: $blue

			&.fa-map-marker,
			&.fa-phone
				font:
					size: 20px



		p,
		a
			font:
				size: 16px
				weight: 400

		.company-name
			font:
				weight: 600
			margin-bottom: 10px

.partner-img
	max-width: 240px
	width: 100%
